# Build directories
build/
bin/
lib/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Application specific
imgui.ini

#Visualizations
*.csv
*.png
*.jpg
*.jpeg
*.bmp
*.tiff
*.webp
